.uiErrorPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 16px;
    background: rgba(var(--Ghost-White), 1);
}

.uiThumbnail {
    max-width: 100%;
    margin-bottom: 32px;
    height: auto;
    object-fit: contain;
}

.uiTitle {
    font-family: var(--DM-Sans) !important;
    color: rgba(var(--Neutral-Dark-Gray), 1);
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.uiText {
    font-family: var(--DM-Sans) !important;
    text-align: center;
    max-width: 650px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(var(--Blue-Gray), 1);
}

.uiPrimaryBtn {
    margin-top: 32px;
}